<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block mainmenu %}
<ul>
    {% for m in menu %}
    <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
    {% endfor %}

    {% if request.user.is_authenticated %}
    <li>{{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
    {% else %}
    <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
    {% endif %}
</ul>
{% endblock mainmenu %}

{% block content %}
{% endblock %}
</body>
</html>